body{
    font-family: "Arial","Meiryo",sans-serif;
}
h1{
    font-family: "Noto Sans JP", sans-serif;
}
html{
     font-size: 20px; 
}
 h1{ 
    font-size: 2rem;
} 
.pink{
    color:rgb(255, 192, 203);
}
.skyblue{
    color:skyblue;
}
body{ 
    text-align: center;
}
h1{
    letter-spacing: 1.2rem;
    text-shadow: 1px 1px 2px gray;
    border-bottom: solid 3px rgb(115, 115, 114);
}
#basic >p {
    font-weight: bold;
}